# Игнорировать папку .terraform и всё её содержимое
terraform/.terraform/

# Игнорировать файл .terraform.lock.hcl в папке terraform
terraform/.terraform.lock.hcl

# Игнорировать файлы состояний
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
*.tfapply
